lab17CombineMovie.json
{
  "name": "lab17CombineMovie",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        -368
      ],
      "id": "74b44e3f-7de2-4ca3-9a1d-65f46bae54be",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "movie",
        "regionCode": "TH",
        "categoryId": "1",
        "binaryProperty": "video.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        784,
        112
      ],
      "id": "1c5671d8-6146-4288-97b4-4c87525189a1",
      "name": "Upload a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "QGfznrHwK4LSCfYD",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "eKw3MuHbynOL39AW",
          "mode": "list",
          "cachedResultName": "images",
          "cachedResultUrl": "/projects/OJ0v4N7vObNagq8n/datatables/eKw3MuHbynOL39AW"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -64,
        -368
      ],
      "id": "cef10938-1921-423e-beef-55485faa6351",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/ffmpeg-api/merge-videos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key cb24974d-6644-4fe8-8c7c-4893fadce38c:56a30923f51fa7a4eaca378c57312dd2"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "video_urls",
              "value": "={{ $json.video_urls }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        -368
      ],
      "id": "96befe1e-8271-4e90-bb5c-80ca17a6bd36",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9dd5871c-75b7-408b-a5a5-87ae9ccc01c2",
              "name": "link",
              "value": "=https://drive.google.com/uc?export=download&id={{ $json.fileID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        -368
      ],
      "id": "c6ecf47a-1d0f-4a61-8ea8-4ebb638762a5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "link"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        304,
        -368
      ],
      "id": "1dd0c440-be9c-4588-a7db-8b35293d790e",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/ffmpeg-api/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key cb24974d-6644-4fe8-8c7c-4893fadce38c:56a30923f51fa7a4eaca378c57312dd2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        -16
      ],
      "id": "f146d8f4-fd48-401b-b7f6-1e9e1ab0a90a",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/ffmpeg-api/requests/{{ $json.request_id }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key cb24974d-6644-4fe8-8c7c-4893fadce38c:56a30923f51fa7a4eaca378c57312dd2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        0
      ],
      "id": "df162114-2981-4ab1-81e0-5729965a6d15",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "68b732a2-cf01-4acc-a944-0dc0cfe91843",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        0
      ],
      "id": "1a5b1e59-8d9c-4536-8786-c030f9067dbb",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -240,
        0
      ],
      "id": "ff571228-8492-4386-8ad3-cc4dc3172b4a",
      "name": "Wait",
      "webhookId": "15d1ab92-4995-4dea-bb15-1fb77c9d33f6"
    },
    {
      "parameters": {
        "url": "={{ $json.video.url }}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "video.mp4"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        -16
      ],
      "id": "17cb0a26-c8b2-4944-ad64-9cef8141c056",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5cef932-462c-4394-a707-6d2803c3b1d2",
              "name": "video_urls",
              "value": "={{ $json.link }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -368
      ],
      "id": "fe0fc52b-c068-4485-9ae4-075f6ca30bcd",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "videos",
        "sendBinaryData": true,
        "binaryPropertyName": "video.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        784,
        -64
      ],
      "id": "4026b91c-96f3-4aac-a986-9dc82fa7853b",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "oGdYkN84feKIrY1K",
          "name": "Facebook Graph Post"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "72f1dfec-96bf-49a0-b4db-bc361d916a51",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e5c1488d671ebdf21efe1b8d850ccd320c7b411c7d1735cf887991d1f2bda941"
  },
  "id": "mewsAGSwN24Hmkv1",
  "tags": []
}