Lab11.1LineChatbot.json
{
  "name": "Lab11.1LineChatbot",
  "nodes": [
    {
      "parameters": {
        "events": [
          "message"
        ]
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessagingTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        0
      ],
      "id": "fec78774-159a-40fd-b91b-89ed8cd96199",
      "name": "Line Messaging Trigger",
      "webhookId": "3b817c07-e779-4d17-9c7a-2ada8340c9b8",
      "credentials": {
        "lineMessagingApi": {
          "id": "v0WqsTH67vvZpD3W",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        176,
        0
      ],
      "id": "96d26a74-ed17-4fc8-9c0e-42585ec5f66d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        96,
        256
      ],
      "id": "e379e631-0a64-4d50-abd2-b12dd0f04208",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "I18cpyAROvFimfho",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "replyToken": "={{ $('Line Messaging Trigger').item.json.replyToken }}",
        "messages": {
          "values": [
            {
              "quoteToken": "=",
              "text": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        560,
        0
      ],
      "id": "d04b1fff-08c2-4f99-bde7-d6e89f8f0779",
      "name": "Line Messaging",
      "credentials": {
        "lineMessagingApi": {
          "id": "v0WqsTH67vvZpD3W",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.source.userId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        256
      ],
      "id": "28945f18-823f-4dc8-8bc1-cccf22722ca2",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        368,
        256
      ],
      "id": "42ff3fbb-0f06-4847-a6b9-58bf51e3a067",
      "name": "Calculator"
    }
  ],
  "pinData": {},
  "connections": {
    "Line Messaging Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Line Messaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1990b284-e27f-45b6-9f16-ce27a04f3606",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bf14b54b99f77de3ec77e234914c2f510eb1e693b1963bb72bcb1fb693784299"
  },
  "id": "voSIdTuVFxzy4hKe",
  "tags": []
}